# COVID-19

In [1]:
# import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read in covid data
covid_data = pd.read_csv("Data_Raw/us-counties.csv")

In [3]:
# review data
covid_data.shape

(61971, 6)

In [4]:
# review data
covid_data.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [5]:
# review data
covid_data['state'].describe()

count     61971
unique       55
top       Texas
freq       3685
Name: state, dtype: object

In [6]:
# remove Guam, Northern Mariana Islands, and Puerto Rico
data = covid_data.set_index("state")
data = data.drop("Guam", axis=0)
data

                  date      county     fips  cases  deaths
state
Washington  2020-01-21   Snohomish  53061.0      1       0
Washington  2020-01-22   Snohomish  53061.0      1       0
Washington  2020-01-23   Snohomish  53061.0      1       0
Illinois    2020-01-24        Cook  17031.0      1       0
Washington  2020-01-24   Snohomish  53061.0      1       0
...                ...         ...      ...    ...     ...
Wyoming     2020-04-15    Sublette  56035.0      1       0
Wyoming     2020-04-15  Sweetwater  56037.0     10       0
Wyoming     2020-04-15       Teton  56039.0     59       0
Wyoming     2020-04-15       Uinta  56041.0      4       0
Wyoming     2020-04-15    Washakie  56043.0      4       0

[61939 rows x 5 columns]

In [7]:
# create dataframe for total cases and deaths by state
cases = states['cases'].agg(np.max)
cases_by_state = pd.DataFrame(data=cases)

deaths = states['deaths'].agg(np.max)
deaths_by_state = pd.DataFrame(data=deaths)

by_state = pd.merge(cases_by_state, deaths_by_state, on=['state'])
by_state = by_state.reset_index()
by_state = by_state.rename(columns={'state': 'STATE_NAME'})
by_state

NameError: name 'states' is not defined

In [ ]:
#import modules for map
import geopandas as gpd
import shapefile as shp

# read in .shp file for US map
usa_map = gpd.read_file('.\states_21basic\states.shp')
usa_map = usa.sort_values(by="STATE_NAME")
usa_map

In [ ]:
# merge map and Covid dataframes
covid_map = pd.merge(usa_map,by_state, on=['STATE_NAME'])
covid_map

In [ ]:
# create choropleth map for Covid-19 deaths

# remove Alaska and Hawaii
covid_map = covid_map [covid_map.STATE_ABBR != 'HI']
covid_map = covid_map [covid_map.STATE_ABBR != 'AK']

fig,ax=plt.subplots(figsize=(20,20))
ax = covid_map.plot(column='deaths',
             cmap='OrRd',
             ax=ax,
             legend=True,
             legend_kwds={'orientation':'horizontal'})
ax.set_title('COVID-19 Deaths by State', fontsize=26)
ax.set_xlabel("Number of Deaths by State",fontsize=24,  labelpad=110)