# Convert Cleaned Covid Tracking Project DF to Kaggle Covid DF format

In [20]:
#Importing Modules
import numpy as np
import pandas as pd

In [21]:
#kaggle data
covid_kaggle = pd.read_csv("..\\Data_Raw\\us-counties.csv")
covid_kaggle.head()
#covid_kaggle.columns

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [22]:
#cleaned covid tracking project data
covidtp_df = pd.read_pickle('..\Data_pkl\\covid19\\covidtrackingproject_df.pkl') 
covidtp_df.head()
#covidtp_df.columns

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,o_hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,2020-10-20,AK,12432,<NA>,534093,<NA>,totalTestsViral,546525,38,<NA>,...,546525,0,0,c0e44ad8d86fcc1e637484d963ee4b2a44cca93c,0,0,0,0,0,<NA>
1,2020-10-20,AL,174528,21512,1112559,<NA>,totalTestsViral,1265575,846,19081,...,1287087,16,0,1fbf9e94e20368495944d9b840b76b5d3299a657,0,0,0,0,0,<NA>
2,2020-10-20,AR,100441,6023,1137234,<NA>,totalTestsViral,1231652,627,6428,...,1237675,14,67,696a543f35e5a8e1498d893e4b20a56bae36154a,0,0,0,0,0,<NA>
3,2020-10-20,AS,0,<NA>,1616,<NA>,totalTestsViral,1616,<NA>,<NA>,...,1616,0,0,3321ebf66fbc98011373f6dcb01d358a9c68c1ac,0,0,0,0,0,<NA>
4,2020-10-20,AZ,232937,5267,1419675,<NA>,totalTestsPeopleViral,1647345,777,20719,...,1652612,7,71,4be9a6265b0b8e6d09e2cb6bff66e9c7690990f1,0,0,0,0,0,<NA>

In [25]:
covidtp_df[covidtp_df.state=='WA']

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,o_hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
52,2020-10-20,WA,98661,<NA>,2145675,<NA>,totalTestEncountersViral,2244336,289,8077,...,2244336,19,59,6f7e4d9f1da85c5424c86937e579adfb1bd8c214,0,0,0,0,0,<NA>
108,2020-10-19,WA,98201,<NA>,2132584,<NA>,totalTestEncountersViral,2230785,292,8018,...,2230785,0,24,c441b6345cc5d5a1925bcdd7a4b4c66b9f57c351,0,0,0,0,0,<NA>
164,2020-10-18,WA,98201,<NA>,2116889,<NA>,totalTestEncountersViral,2214560,292,7994,...,2215090,0,23,a2401cb86e50a9990ce9d3a430e789d9efd3b2ec,0,0,0,0,0,<NA>
220,2020-10-17,WA,96894,<NA>,2097360,<NA>,totalTestEncountersViral,2194254,280,7971,...,2194254,7,15,7cacd30c6298c44b05207e4d410245fdb8fe5ccc,0,0,0,0,0,<NA>
276,2020-10-16,WA,96185,<NA>,2073007,<NA>,totalTestEncountersViral,2169192,274,7956,...,2169192,11,73,eb7e5186249ce61bf411220c06123c2b750fdd5b,0,0,0,0,0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12924,2020-01-26,WA,0,<NA>,0,<NA>,totalTestEncountersViral,0,<NA>,<NA>,...,0,0,0,d7cc18167bf94c985fa246a0ea9c959e46f7c7a5,0,0,0,0,0,<NA>
12926,2020-01-25,WA,0,<NA>,0,<NA>,totalTestEncountersViral,0,<NA>,<NA>,...,0,0,0,4d05f2ab61cfdd70936ebb46edc1a1982b3c9a83,0,0,0,0,0,<NA>
12928,2020-01-24,WA,0,<NA>,0,<NA>,totalTestEncountersViral,0,<NA>,<NA>,...,0,0,0,82726df68eb97c98a4a6ee792349e547023147d5,0,0,0,0,0,<NA>
12930,2020-01-23,WA,0,<NA>,0,<NA>,totalTestEncountersViral,0,<NA>,<NA>,...,0,0,0,1c2229c239ffad5e5fdd9d76c641dc9166caf6ba,0,0,0,0,0,<NA>
12932,2020-01-22,WA,0,<NA>,0,<NA>,totalTestEncountersViral,0,<NA>,<NA>,...,0,0,0,4502685e582e68071bfe8f7e1b307bc09c16728d,0,0,0,0,0,<NA>

In [4]:
covidtp_df.columns

Index(['date', 'state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative',
       'onVentilatorCurrently', 'onVentilatorCumulative', 'recovered',
       'dataQualityGrade', 'lastUpdateEt', 'dateModified', 'checkTimeEt',
       'death', 'hospitalized', 'dateChecked', 'totalTestsViral',
       'positiveTestsViral', 'negativeTestsViral', 'positiveCasesViral',
       'deathConfirmed', 'deathProbable', 'totalTestEncountersViral',
       'totalTestsPeopleViral', 'totalTestsAntibody', 'positiveTestsAntibody',
       'negativeTestsAntibody', 'totalTestsPeopleAntibody',
       'positiveTestsPeopleAntibody', 'negativeTestsPeopleAntibody',
       'totalTestsPeopleAntigen', 'positiveTestsPeopleAntigen',
       'totalTestsAntigen', 'positiveTestsAntigen', 'fips', 'positiveIncrease',
       'negativeIncrease', 'total', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'o_hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

In [5]:
#drop columns not in original kaggle dataset
# drop_cols_list = ['negative', 'pending',
#        'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
#        'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
#        'recovered', 'o_hash', 'dateChecked','hospitalized', 'total',
#        'totalTestResults', 'posNeg', 'deathIncrease',
#        'hospitalizedIncrease', 'negativeIncrease', 'positiveIncrease',
#        'totalTestResultsIncrease']
# dropped_df = covidtp_df.drop(drop_cols_list, axis=1)

#Instead of dropping columns, just only keep the columns needed
need_df = covidtp_df[['date', 'state', 'positive', 'death', 'fips']]


#rename columns from covid tracking project DF to kaggle DF
rename_cols_list = ['date', 'stateabb', 'cases', 'deaths', 'fips']
need_df.columns = rename_cols_list

#new tracking project dataframe
covidtp_df = need_df

In [12]:
# # convert cases from character to int
covidtp_df['cases'] = covidtp_df['cases'].astype('Int64')
covidtp_df.dtypes

date      datetime64[ns]
state             object
fips               Int64
cases              Int64
deaths             Int64
dtype: object

In [7]:
#convert state abbreviations to state name
state = ['Alabama','Alaska','Arizona','Arkansas',
          'California','Colorado','Connecticut',
          'Delaware','Florida','Georgia','Hawaii',
          'Idaho','Illinois','Indiana','Iowa',
          'Kansas','Kentucky','Louisiana','Maine',
          'Maryland','Massachusetts','Michigan',
          'Minnesota','Mississippi','Missouri',
          'Montana','Nebraska','Nevada','New Hampshire',
          'New Jersey','New Mexico','New York',
          'North Carolina','North Dakota','Ohio',
          'Oklahoma','Oregon','Pennsylvania',
          'Rhode Island','South Carolina','South Dakota',
          'Tennessee','Texas','Utah','Vermont','Virginia',
          'Washington','West Virginia','Wisconsin','Wyoming',
          'District of Columbia', 'Guam','Puerto Rico',
          'Virgin Islands','American Samoa','Northern Mariana Islands']

abb=['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI',
     'ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI',
     'MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC',
     'ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT',
     'VT','VA','WA','WV','WI','WY','DC','GU','PR','VI','AS','MP']

#state - abbreviation dataframe
state_abb = pd.DataFrame({'state':state, 'abbreviation':abb})
state_abb.head()

#merge state abbreviation with state name
covidtp_df1 =pd.merge(covidtp_df,state_abb, 
                      how='left', 
                      left_on=['stateabb'], right_on=['abbreviation'])

#drop state abbreviation columns
covidtp_df1 = covidtp_df1.drop(['stateabb','abbreviation'], axis=1)

In [8]:
#re-order the columns to match kaggle DF
covidtp_df = covidtp_df1.reindex(columns=['date','state','fips','cases','deaths'])

#sort date by earliest first to match kaggle DF
covidtp_df = covidtp_df.sort_values(by=['date']).reset_index().drop(['index'],axis=1)

In [9]:
#convert na's to zeros
covidtp_df.deaths=covidtp_df.deaths.fillna(0)
covidtp_df.cases=covidtp_df.cases.fillna(0)

In [10]:
#review data
covidtp_df.describe(include='all')
covidtp_df.head()
#covidtp_df.date.unique()
#covidtp_df.cases.unique()
#covidtp_df.deaths.unique()

        date          state  fips  cases  deaths
0 2020-01-22     Washington  <NA>     53       0
1 2020-01-22  Massachusetts  <NA>     25       0
2 2020-01-23  Massachusetts  <NA>     25       0
3 2020-01-23     Washington  <NA>     53       0
4 2020-01-24  Massachusetts  <NA>     25       0

In [11]:
#save to pickle
covidtp_df.to_pickle('..\\Data_pkl\\covidtrackingproject_kaggleformat_df.pkl')

            date       state  fips  cases  deaths
0     2020-01-22  Washington  <NA>     53       0
3     2020-01-23  Washington  <NA>     53       0
5     2020-01-24  Washington  <NA>     53       0
7     2020-01-25  Washington  <NA>     53       0
8     2020-01-26  Washington  <NA>     53       0
...          ...         ...   ...    ...     ...
12684 2020-10-16  Washington  2232     53   96185
12741 2020-10-17  Washington  2239     53   96894
12796 2020-10-18  Washington  2239     53   98201
12853 2020-10-19  Washington  2239     53   98201
12909 2020-10-20  Washington  2258     53   98661

[273 rows x 5 columns]